@font-face {
  font-family: "vpdf";
  src: url("./fonts/vpdf_icons/vpdf.eot");
  src: url("./fonts/vpdf_icons/vpdf.eot#iefix") format("embedded-opentype"),
    url("./fonts/vpdf_icons/vpdf.ttf") format("truetype"),
    url("./fonts/vpdf_icons/vpdf.woff") format("woff"),
    url("./fonts/vpdf_icons/vpdf.svg#vpdf") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

.icon {
  font-family: "vpdf" !important;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

.icon-error:before {
  content: "\e900";
}
.icon-warning:before {
  content: "\e913";
}
.icon-block:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-file_copy:before {
  content: "\e903";
}
.icon-attachment:before {
  content: "\e904";
}
.icon-rotate_left:before {
  content: "\e905";
}
.icon-rotate_right:before {
  content: "\e906";
}
.icon-arrow_drop_down:before {
  content: "\e907";
}
.icon-arrow_drop_up:before {
  content: "\e908";
}
.icon-menu:before {
  content: "\e909";
}
.icon-arrow_left:before {
  content: "\e90a";
}
.icon-arrow_right:before {
  content: "\e90b";
}
.icon-bookmark_border:before {
  content: "\e90c";
}
.icon-help:before {
  content: "\e90d";
}
.icon-view_column:before {
  content: "\e915";
}
.icon-zoom_in:before {
  content: "\e90e";
}
.icon-zoom_out:before {
  content: "\e90f";
}
.icon-menu_open:before {
  content: "\e910";
}
.icon-arrow_circle_down:before {
  content: "\e911";
}
.icon-arrow_circle_up:before {
  content: "\e912";
}
.icon-motion_photos_on:before {
  content: "\e916";
}
.icon-table_rows:before {
  content: "\e917";
}
