@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";
@use "./fonts/vpdf_icons.scss";

@use "pdfjs-dist/web/pdf_viewer.css";

@layer base {
  :root {
    --foreground: 213 13% 14%;
    --background: 0 0% 100%;
    --primary: 211 32% 26%;
    --secondary: 211 46% 69%;
    --accent: 211 62% 44%;

    --positive: 125deg 42% 50%;
    --negative: 3deg 75% 60%;
  }

  .vpdf-dark {
    --foreground: 213 26% 82%;
    --background: 215 18% 13%;
    --primary: 211 32% 74%;
    --secondary: 211 46% 31%;
    --accent: 211 62% 56%;
  }
}
