@layer base {
  :root {
    --vpdf-foreground: 213deg 13% 14%;
    --vpdf-background: 0deg 0% 100%;
    --vpdf-primary: 211deg 32% 26%;
    --vpdf-secondary: 211deg 46% 69%;
    --vpdf-accent: 211deg 62% 44%;

    --vpdf-positive: 125deg 42% 50%;
    --vpdf-negative: 3deg 75% 60%;
  }
  .vpdf-dark {
    --vpdf-foreground: 213deg 26% 82%;
    --vpdf-background: 215deg 18% 13%;
    --vpdf-primary: 211deg 32% 74%;
    --vpdf-secondary: 211deg 46% 31%;
    --vpdf-accent: 211deg 62% 56%;
  }
}
